.map {
  height:100vh;
}

.myForm {
  height: 500px;
  width: 400px;
  outline-style: solid;
  outline-width: 2px;
  outline-color: darkblue;
  background-color: lightgray;
  margin: 0;
  text-align: center;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 16px;
}

.btn {
  height: 50px;
  width: 100px;
  background-color: lightblue;
}

.mytext {
  height: 30px;
  width: 320px;
  font-size: 24px;
  margin-left: 10px;
}

.endpoint {
  text-align: left;
  margin-left: 10px;
}